$secomp-verde: #84d06a;
$secomp-preto: #151515;
$secomp-roxo: #a358ce;
$titulo: "Bebas Neue", cursive;
$texto: "Varela Round", sans-serif;
$tamanho-cronograma: 48px;
$margin-r-crono: 903px;
$margin-l-crono: 299px;
